<head>
    <link href= "/public/assets/contactCss.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Contact Information</h1>

    <p>Email: Jlgarcia2@mail.bradley.edu</p>
    <p>Jorge Garcia</p>
    <p>2022</p>
    <br>
    <br>
    <p>Thank you for reaching this page :)</p>
    <br>
    <button class="block" type="button" onclick="window.location.href='/'">Return</button>
</body>