<head>
    <link href= "/public/assets/projectsCss.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Certifications</h1>
    <br>
    <h2>CompTIA A+</h2>
    <h2>CompTIA Cloud Essentials</h2>
    <h2>Cisco Certified Network Entry Technician (CCENT)</h2>
    <br>
    <button class="block" type="button" onclick="window.location.href='/'">Return</button>
</body>