<head>
    <link href= "/public/assets/reflectionCss.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 style="border-style: solid; width: fit-content ;">Reflection</h1>
    <h2>My future will be filled with learning and experiences, I promise myself that.</h2>
    <p>"As is a tale, so is life: not how long it is, but how good it is, is what matters." - Seneca</p>
    <button class="block" type="button" onclick="window.location.href='/'">Return</button>

</body>