<head>
    <link href= "/public/assets/resumeCss.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <h1>Jorge Garcia</h1>

    <p style="max-width: 500px">
        Skilled computer technician looking to expand his experience and education in the field.
        Student in network administration with a future in the IT field in mind.
        Fast learner possessing technical and troubleshooting skills for networking issues, end user problems and network security.
    </p>

    <h2>Skills</h2>
    <ul>
        <li>Exceptional troubleshooter</li>
        <li>Skillful at network configuration and support</li>
        <li>Exceeds in a team environment</li>
        <li>Bilingual (English, Spanish)</li>
        <li>Advanced knowledge of Windows systems</li>
        <li>Familiar with networking and the layers of
            the networking models
        </li>
    </ul>
    <br>
    <h2>Education</h2>
    <h3>IT Network Administrator</h3>
    <p>Miami Lakes Educational Center, Miami Lakes, FL</p>
    <p><b>2015-2019</b></p>
    <br>
    <h3>Computer Information Systems</h3>
    <p>Bradley University, Peoria, IL</p>
    <p><b>2019-2023</b></p>
    <br>
    <br>
    <button class="block" type="button" onclick="window.location.href='/'">Return</button>
    
</body>